<template bind="{{}}">
  <h2>Property Binding</h2>
  <div>
    {{ buttonMessage }}
    {{ buttonClicks == 0 ? 'never' : buttonClicks }}
    <button class="btn btn-inc">Click Me</button>
  </div>

  <div>
    Clicks in words: <strong>{{ buttonClicks | numToWords }}</strong>
  </div>

  <div>
    tokenList {{ {active: true, hasClicks: buttonClicks > 0} | tokenList}}
  <div>

  <h2>Repeating</h2>
  <div> List one:
    <template repeat="{{ things }}">
      <span class="name">{{ name }}</span>,
    </template>
  </div>

  <div> List named looping:
    <template repeat="{{ thing in things }}">
      <span class="name">{{ thing.name }}</span>,
    </template>
  </div>

  <div> Indexed looping:
    <template repeat="{{ thing, i in things }}">
      <span class="name">{{i}}:{{ thing.name }}</span>,
    </template>
  </div>

  <h2>Repeating in a table</h2>
  <p>Does not require the <code>&lt;tr template</code> syntax!</p>
  <table>
    <tr>
      <template repeat="{{ things }}">
        <td>{{ name }}</td>
      </template>
    </tr>
    <template repeat="{{ things }}">
      <tr><td>{{ name }}</td></tr>
    </template>
  </table>

  <h2>Conditionals</h2>
  <label>Show them? <input type="checkbox" checked="{{ showTheThing }}"></label>

  <template if="{{ showTheThing }}">
    <div>Shown via `if`</div>
  </template>

  <div hidden?="{{ !showTheThing }}">Via `hidden` conditional attr</div>

  <div class="{{ {'should-hide': !showTheThing} | tokenList}}">Via `tokenList` filter on class</div>

</template>
